<div class = "normal_section">
		<hr class="line_break" />
		<h1 class="main_header">Oxford University SIAM <br />Student Chapter</h1>
		<h3 class="normal_header" style="font-style:italic; font-size:24px;">We are currently recruiting committee members for the 2011-2012 academic year. Please see the <a href="committee.html">committee</a> page for more information.</h2><br />
		<h3 class="normal_header">About Us</h3>
		<p class="normal_text">The University of Oxford SIAM Student Chapter is a fast-growing society devoted to facilitating engagement between the University of Oxford’s international applied mathematics community and industry through conferences, workshops, competitions, prizes and other events. In this way, the Chapter provides a specialised forum in which the finest mathematicians can share a common interest in applied mathematics, scientific computing and industrial applications. The Chapter was founded in January 2008 by a small group of enthusiastic students. We are now one of the largest chapters worldwide with members including undergraduates, graduate students, post-doctoral researchers, faculty and industrial partners. The Chapter is kindly supported by <a href="https://www.wintoncapital.com/">Winton Capital</a> and <a href="http://www.marketsentinel.com/">Market Sentinel</a>.
  
		Our goals include:</p>
		<ul style="text-align:justify">
		<li class="bullets">Providing a forum in which students and faculty members can share their interest in applied mathematics and scientific computing.</li>
		<li class="bullets">Organising internal seminars and workshops for researchers to present their work, and arranging social functions in Oxford at which members can interact in an informal setting.</li>
		<li class="bullets">Engaging Oxford University members in SIAM's international community through the conferences, competitions, prizes and other opportunities offered by SIAM.</li>
		<li class="bullets">Establishing links with industrial partners.</li>
		</ul>
		Please explore the links above to find out more information about how to join the Chapter, and details of our previous and upcoming events.
</div>
