<footer>
  
  <nav class="round">
    <hr class="line_break" />
		Supported by Market Sentinel and Winton Capital Management
		<br /><br />	
		<% market_sentinel_logo = image_tag("market_sentinel_logo.jpg", :alt => "Market Sentinel Logo", :class => "round") %>
		<% winton_capital_logo = image_tag("Winton_logo.png", :alt => "Winton Capital Logo", :class => "round") %>
		<%= link_to market_sentinel_logo, "http://www.marketsentinel.com/" %>
		<%= link_to winton_capital_logo, "http://www.wintoncapital.com/" %>
	</nav>

</footer>

